html,body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
	padding: 0;
	margin: 0;
	width:100%;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

textarea{
    height: 100%;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#controls {
	/* width: 776px; goodbye funny joke */
	width: 100%;
	min-height: 100px;
	margin: 0 auto;
	line-height: 8px;
	padding-bottom: 18px;
	text-align: left;
	vertical-align: middle;
}

@media only screen and (min-width: 600px) {
	#controls {
		padding-bottom: 0px;
	}
}

@media only screen and (min-width: 900px) {
	#controls {
		width: 900px;
		max-width: 95%;
		height: 80px;
		line-height:16px;
	}
}

h1 {
	font-style: italic;
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
}

input {
	float: right;
	margin-right: 5%;
}

#controls h1 {
	display:inline-block;
}

#buttons {
	max-width: 90vw;
	display:inline-block;
	/* float:right; */
	margin-top: 7px;
}

@media only screen and (min-width: 900px) {
	#buttons {
		margin-top: 28px;
	}
}

#tablewrap {
	padding: 15px 0;
	background-color: #1A1A1A;
	/* min-width: 640px; */
	width: 100%;
	top: 0;
	display: block;
}
@media only screen and (min-width: 900px) {
	#tablewrap {
		padding: 30px 0;
	}
}

td {
	border: solid 3px black;
	margin: 0;
	padding: 0;
	height: 10vw;
}

@media only screen and (min-width: 641px) {
	td {
		height: 64px;
	}
}

tr {
	line-height: 0px;
}

#tablemain {
	max-width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	border-spacing: 0;
	border: solid 3px black;
	background-color: #1A1A1A;
}

@media only screen and (min-width: 900px) {
	#tablemain {
		margin-left: auto;
		margin-right: auto;
	}
}

.labelHolder {
	min-width: 8vw;
	height: 10vw;
	transition: background .3s;
}

@media (min-width: 641px) {
	.labelHolder {
		min-width: 48px;
		height: 64px;
	}
}

.label {
	min-width: 8vw;
	max-width: 20vw;
	line-height: 16px;
	text-align: center;
	border: none;
	font-weight: 600;
	font-size: 3.3vw;
	margin: 0;
	display: inline-block;
	padding: 4px;
}

@media (min-width: 481px) {
	.label {
		font-size: 16px;
	}
}

@media (min-width: 641px) {
	.label {
		min-width: 56px;
		max-width: 128px;
	}
}

.tierHolder {
	width:95%;
	max-width:640px;
}

.tier {
	width:100%;
	max-width: 576px;
	min-height: 10vw;
	text-align: left;
}

@media (min-width: 641px) {
	.tier {
		min-height: 64px;
	}
}

@media (min-width: 900px) {
	.tier {
		width:640px;
		max-width: 640px;
	}
	.tierHolder {width:640px;}
	table{min-width:0px;}
}

.hiddenkid {
	display:none;
}

td:last-of-type {
	background-color: black;
}

#settings {
	width: 10vw;
	height: 10vw;
	background: url('img/settings.png') center no-repeat;
	background-size: 7.5vw;
	cursor: pointer;
	transition: all .3s;
	display:inline-block;
}

@media (min-width: 641px) {
	#settings {
		width: 64px;
		height: 64px;
		background-size: auto;
	}
}

#settings:hover {
	opacity: .5;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#moveButtons {
	width: 10vw;
	height: 10vw;
	max-width: 64px;
	max-height: 64px;
	display:inline-block;
}
div#moveUp {
	width: 10vw;
	height: 5vw;
	max-width: 64px;
	max-height: 32px;
	background: url('img/arrowup.png') center no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all .3s;
}
div#moveDown {
	width: 10vw;
	height: 5vw;
	max-width: 64px;
	max-height: 32px;
	background: url('img/arrowdown.png') center no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all .3s;
}

#moveButtons div:hover {
	opacity: .5;
}

#char {
	width: 90%;
	margin: 10px auto;
	line-height: 0px;
	padding-bottom: 32px;
	height: auto;
}

@media only screen and (min-width: 641px) {
	#char {
		max-width: 1024px;
	}
}

img {
	height: 64px;
}

.character {
	display:inline-block;
	height: 10vw;
	width: 10vw;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	background-color:white;
}

@media only screen and (min-width: 641px) {
	.character {
		height: 64px;
		width: 64px;
	}
}

#overlay {
	opacity:0;
	visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100% !important;
    text-align:center;
    z-index: 1000;
	background-color:rgba(0,0,0,.5);
	transition: opacity .3s;
}

.popupMenu {
    position: relative;
    display: none;
	font-size: 2.4vw;
    width: 80vw;
    margin: 0 auto;
    background-color: #fff;
    padding:20px;
    text-align:center;
	z-index: 2000;
}

.popupMenu h1 {
	font-size: 3.6vw; 
}

@media only screen and (min-width: 481px) {
	.popupMenu {
		font-size: inherit;
	}

}

@media only screen and (min-width: 900px) {
    .popupMenu {
        width: 728px;
    }
	.popupMenu h1 {
		font-size: 32px; 
	}
}

#helpMenu {
	text-align: left;
}

#colorselect {
	width: 98%;
	height: 4.4vw;
	margin: 0 4px;
	margin-left: auto;
	margin-right: auto;
}

#colorselect span {
	width: 5.2vw;
	height: 4.4vw;
	margin: 0;
	display: inline-block;
	transition: box-shadow .1s;
	cursor: pointer;
}

#colorselect span.selected {
	box-shadow: inset 4px 4px red,
				inset -4px -4px red;
}

@media only screen and (max-width: 641px) {
	#colorselect {
		width: 260px;
		height: 60px;
	}
	#colorselect span {
		width: 32px;
		height: 30px;
		margin: 0;
	}
}

@media only screen and (min-width: 900px) {
	#colorselect {
		width: 720px;
		height: 40px;
	}
	#colorselect span {
		width: 48px;
		height: 40px;
		margin: 0;
	}
}

#close {
	position: absolute;
	top:0;
	right:0;
	width:16px;
	height:16px;
	margin:16px;
	background:url("img/close.png");
	opacity: .5;
	transition: opacity .3s;
	cursor: pointer;
}
#close:hover {
	opacity:1;
}

button {
	background: #fff;
	box-shadow: 0 2px #dedede; /* found a way to shoehorn it back in boys */
	border: solid 1px #dedede;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 4px 8px;
}

button:active {
	box-shadow: 0 1px #dedede;
	top: 1px;
}

.characterCheckWrap {
	width: 50%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0px;
	display: inline-block;
}

@media only screen and (min-width: 900px) {
	.characterCheckWrap {
		width: 36%;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 1px;
	}
}

.selectAllWrap {
	width: 26%;
	padding-top: 2px;
	padding-left: 31%;
	padding-right: 31%;
	display:inline-block;
}

@media only screen and (min-width: 900px) {
	.selectAllWrap {
		width: 16%;
		padding-left: 36%;
		padding-right: 36%;
	}
}

.ui-tooltip {
	padding: 6px;
	font: 400 16px Arial;
	box-shadow: #dedede;
}

.settingsContainer {
	min-width: 20vw;
}

@media only screen and (min-width: 641px) {
	.settingsContainer {
		min-width: 134px;
	}
}
