html,body{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
	padding: 0;
	margin: 0;
	width:100%;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#controls {
	/* width: 776px; goodbye funny joke */
	width: 600px;
	height: 100px;
	margin: 0 auto;
	line-height: 8px;
	padding-right: 1px;
	text-align: left;
	vertical-align: middle;
}

@media only screen and (min-width: 900px) {
	#controls {
		width: 900px;
		max-width: 95%;
		height: 80px;
		line-height:16px;
	}
}

h1 {
	font-style: italic;
	font-weight: 100;
	text-align: left;
	text-transform: uppercase;
}

input {
	float: right;
	margin-right: 5%;
}

#controls h1 {
	display:inline-block;
}

#buttons {
	display:inline-block;
	float:right;
	margin-top: 7px;
}

@media only screen and (min-width: 900px) {
	#buttons {
		margin-top: 28px;
	}
}

#tablewrap {
	padding: 15px 0;
	background-color: #1A1A1A;
	min-width: 640px;
	width: 100%;
	top: 0;
	display:block;
}
@media only screen and (min-width: 900px) {
	#tablewrap {
		padding: 30px 0;
	}
}

td {
	border: solid 3px black;
	margin: 0;
	padding: 0;
	height: 64px;
}

tr {
	line-height: 0px;
}

table {
	max-width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	border-spacing: 0;
	border: solid 3px black;
}

@media only screen and (min-width: 900px) {
	table {
		margin-left: auto;
		margin-right: auto;
	}
}

.labelHolder {
	min-width: 48px;
	height: 64px;
	transition: background .3s;
}

.label {
	min-width: 56px;
	max-width: 128px;
	line-height: 16px;
	text-align: center;
	border: none;
	font-weight: 600;
	margin: 0;
	display: inline-block;
	padding: 4px;
}

.tierHolder {
	width:95%;
	max-width:640px;
}

.tier {
	width:100%;
	max-width: 576px;
	min-height: 64px;
	text-align: left;
}

@media (min-width: 900px) {
	.tier{width:640px; max-width: 640px;}
	.tierHolder {width:640px;}
	table{min-width:0px;}
}

.hiddenkid {
	display:none;
}

td:last-of-type {
	background-color: black;
}

#settings {
	width: 64px;
	height: 64px;
	background: url('img/settings.png') center no-repeat;
	cursor: pointer;
	transition: all .3s;
	display:inline-block;
}

#settings:hover {
	opacity: .5;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#moveButtons {
	width: 64px;
	height: 64px;
	display:inline-block;
}
div#moveUp {
	height:32px;
	width:64px;
	background: url('img/arrowup.png') center no-repeat;
	cursor: pointer;
	transition: all .3s;
}
div#moveDown {
	height:32px;
	width:64px;
	background: url('img/arrowdown.png') center no-repeat;
	cursor: pointer;
	transition: all .3s;
}
#moveButtons div:hover {
	opacity: .5;
}

#char {
	min-width: 600px;
	width: 90%;
	margin: 10px auto;
	line-height: 0px;
	padding-bottom: 32px;
	height: auto;
}

@media only screen and (min-width: 641px) {
	#char {
		max-width: 1024px;
	}
}

img {
	height: 64px;
}

.character {
	display:inline-block;
	height: 64px;
	width: 64px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	background-color:white;
}

#overlay {
	opacity:0;
	visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width:100%;
    height:100% !important;
    text-align:center;
    z-index: 1000;
	background-color:rgba(0,0,0,.5);
	transition: opacity .3s;
}

#overlay #modalWrapper #modal,#charChange,#helpMenu,#screenshotShow {
    position: relative;
    display:none;
    width: 95%;
    min-width: 728px;
    margin: 0 auto;
    background-color: #fff;
    padding:20px;
    text-align:center;
	z-index: 2000;
}

@media only screen and (min-width: 900px) {
    #overlay #modalWrapper #modal,#charChange,#helpMenu,#screenshotShow {
        width: 728px;
    }
}

#screenshotShow canvas {
	width: 95%;
}

#helpMenu {
	text-align: left;
}

#colorselect {
	width: 720px;
	height: 40px;
	margin: 0 4px;
}

#colorselect span {
	width: 48px;
	height: 40px;
	margin: 0;
	display: inline-block;
	transition: box-shadow .1s;
	cursor: pointer;
}

#colorselect span.selected {
	box-shadow: inset 4px 4px red,
				inset -4px -4px red;
}

#close {
	position: absolute;
	top:0;
	right:0;
	width:16px;
	height:16px;
	margin:16px;
	background:url("img/close.png");
	opacity: .5;
	transition: opacity .3s;
	cursor: pointer;
}
#close:hover {
	opacity:1;
}

button {
	background: #fff;
	box-shadow: 0 2px #dedede; /* found a way to shoehorn it back in boys */
	border: solid 1px #dedede;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 4px 8px;
}

button:active {
	box-shadow: 0 1px #dedede;
	top: 1px;
}

.characterCheckWrap {
	width: 36%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 1px;
	display: inline-block;
}

.selectAllWrap {
	width: 16%;
	padding-top: 2px;
	padding-left: 36%;
	padding-right: 36%;
	display:inline-block;
}

.ui-tooltip {
	padding: 6px;
	font: 400 16px Arial;
	box-shadow: #dedede;
}

.settingsContainer {
	min-width: 134px;
}

/*
@media handheld {
	body{min-width: 776px;}
}
*/
