#tablemain {
    background-image: url('graph.png');
    width: 80vw;
    height: 60vw;
}

#divider {
    width: 80vw;
    height: 60vw;
    left: 0;
    top: 0;
    opacity: 0.5;
    pointer-events: none;
    visibility: hidden;
}

#leftHolder {
    left: 10vw;
    top: 40vw;
}

#topHolder {
    left: 10vw;
    top: 20vw;
}

#rightHolder {
    left: 80vw;
    top: 62vw;
}

#bottomHolder {
    left: 50vw;
    top: 62vw;
}